.modal-edit {
    .MuiBox-root {
        background-color: white;
        border-radius: 15px;
        border: none !important;
        padding-left: 10px;
        padding-right: 10px;
    }
    .MuiButton-root{
        margin-right: 120px;
        background: black;
        margin-left: 5px;       
    }
}